<div>
  <div>
      <ion-slides *ngIf="focusList.length>0" class="adv" pager  loop="true" autoplay="3000">    
          <ion-slide *ngFor="let item of focusList">
              <img src="{{config.domain+item.pic}}" (click)="goDetail(item)"/>
          </ion-slide>         
      </ion-slides>
  </div>
  <div class="iconDiv">
      <ul class="icon">
          <li tappable (click)="newUser()"><a><i></i>
                      <p>新人红包</p>
                  </a></li>
          <li tappable (click)="goSign()"><a><i></i>
                      <p>签到好礼</p>
                  </a></li>
          <li tappable (click)="goOldUser()"><a><i></i>
                  <p>会员专区</p>
              </a></li>
          <li tappable (click)="gobulk()"><a><i></i>
                      <p>拼团活动</p>
                  </a></li>
          <li><a href="" (tap)="commercial()"><i></i>
                      <p>商学院</p>
                  </a></li>
      </ul>
  </div>
</div>

