<div>
  <div>
      <ion-slides *ngIf="focusList.length>0" class="adv" pager  loop="true" autoplay="3000">    
          <ion-slide *ngFor="let item of focusList">
              <img src="{{item.img}}" (click)="say()"/>
          </ion-slide>         
      </ion-slides>
  </div>
  <div class="iconDiv">
      <ul class="icon">
          <li><a href=""><i></i>
                      <p>新人红包</p>
                  </a></li>
          <li><a href=""><i></i>
                      <p>签到好礼</p>
                  </a></li>
          <li><a href=""><i></i>
                  <p>会员专区</p>
              </a></li>
          <li><a href=""><i></i>
                      <p>拼团活动</p>
                  </a></li>
          <li><a href=""><i></i>
                      <p>商学院</p>
                  </a></li>
      </ul>
  </div>
</div>

