<!--
  Generated template for the UserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>用户中心</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content>
  
    <div class="login" *ngIf="!userInfo">
      <div class="userimg">
        <img src="assets/imgs/user.png"  />
      </div>
  
      <div class="login_reg">
          <button ion-button color="danger" [navPush]='LoginPage'>登录</button>
          <button ion-button color="danger" [navPush]='RegisterPage'>注册</button>
      </div>
  
    </div>
  
    <ion-list inset *ngIf="userInfo">
      <ion-item [navPush]="PersonalPage" class="person" style="margin: 0 auto;">
              <div item-left class="avatar">
                    <img src="xxx.png" onerror="this.src='assets/imgs/user.png'" class="headimg" >
                    <div class="rank">
                      准代理
                    </div>
                  </div>                  
              <h2 style="height: 4rem;padding-top: 0.5rem;">用户名:{{userInfo.personDataMap.UserName}}</h2>
              <p>众健号:{{userInfo.personDataMap.SysID}}</p>
           
        </ion-item>
    </ion-list>
    <div class="transition">
       </div>
    <div class="interval">
     我的钱包
    </div>
    <ion-grid style="padding: 0;width: 100%;">
        <ion-row class="col_row" >
          <ion-col class="col_1">
            1000000000
          <br>
            现金币
          </ion-col >
          <ion-col class="col_1">
              12
          <br>
            购物币
          </ion-col>
          <ion-col class="col_1">
            13
          <br>
            消费积分
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="transition">
        </div>
        <div class="interval">
            我的订单
           </div>
           <ion-grid style="padding: 0;width: 100%;">
              <ion-row class="col_row" >
                <ion-col class="col_2" style="width: 20%;">
                    <img src="assets/imgs/test.png"/>
                    <span>全部订单</span>
                </ion-col>
                <ion-col class="col_2" style="width: 20%;">
                  <img src="assets/imgs/test.png"/>
                    <span>待付款</span>
                </ion-col>
                <ion-col class="col_2" style="width: 20%;">
                  <img src="assets/imgs/test.png"/>
                    <span>待发货</span>
                </ion-col>
                <ion-col class="col_2" style="width: 20%;">
                  <img src="assets/imgs/test.png"/>
                    <span>待收货</span>
                </ion-col>
                <ion-col class="col_2" style="width: 20%;">
                  <img src="assets/imgs/test.png"/>
                    <span>待评价</span>
                </ion-col>
              </ion-row>
            </ion-grid>
            <div class="transition">
            </div>
            <div class="interval">
              我的常用
             </div>
             <ion-grid style="padding: 0;width: 100%;">
              <ion-row class="col_row" >
                <ion-col class="col_3" style="width: 20%;">
                    <img src="assets/imgs/test.png"/>
                    <span (click)="fans()">我的粉丝</span>
                </ion-col>
                <ion-col class="col_3" style="width: 20%;">
                  <img src="assets/imgs/test.png"/>
                    <span>我的课程</span>
                </ion-col>
                <ion-col class="col_3" style="width: 20%;">
                  <img src="assets/imgs/test.png"/>
                    <span>客服中心</span>
                </ion-col>
                <ion-col class="col_3" style="width: 20%;">
                  <img src="assets/imgs/test.png"/>
                    <span>二送一</span>
                </ion-col>
                <ion-col class="col_3" style="width: 20%;">
                  <img src="assets/imgs/test.png"/>
                    <span>我的名片</span>
                </ion-col>
              </ion-row>
              <ion-row class="col_row" >
                <ion-col class="col_4" style="width: 20%;">
                    <img src="assets/imgs/test.png"/>
                    <span>净水机</span>
                </ion-col>
                <ion-col class="col_4" style="width: 20%;">
                  <img src="assets/imgs/test.png"/>
                    <span>实名认证</span>
                </ion-col>
                <ion-col class="col_4" style="width: 20%;">
              
              </ion-col>
              <ion-col class="col_4" style="width: 20%;">
             
              </ion-col>
              <ion-col class="col_4" style="width: 20%;">
             
            </ion-col>
         
              </ion-row>
            </ion-grid>
  </ion-content>
  