page-fans {
.item{
    border-color:rgb(221,221,221);
    background-color: #fff;
    color:#444;
    display:block;
    border-width:0.1rem;
    border-style: solid;
    font-size:1.6rem;
    width: 45rem;
    height: 4.7rem;
   padding-top:1.3rem;
   margin-left: -1.5rem;
   column-count:2;
}
.list{
    margin-left: 2.6rem;
}
}
